.map {
  height: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.4);
}
.map .leaflet-container {
  height: 100%;
}
.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}
.info-flag img {
  width: 100px;
  border-radius: 5px;
  background-size: cover;
  border-radius: 8px;
}
.info-cases,
.info-recovered,
.info-deaths {
  color: red;
  font-weight: 6000;
  font-size: 1.75rem;
  font-size: 16px;
  margin-top: 10px;
}
.info-container {
  width: 150px;
}
